.card-list{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

h3, h4 {
  text-align: center;
}

h3 {
  color: #ba005c;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 650px) {
  .card-list {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-areas: 
    "img title"
    "img price"
    "img quantity";
  }
  .card-list a {
    grid-area: img;
    justify-self: center;
    padding: 16px;
  }
  .card-list p:nth-child(2) {
    grid-area: title;
    align-self: flex-end;
  }
  .card-list p:nth-child(3) {
    grid-area: price;
  }
  .card-list p:nth-child(4) {
    grid-area: quantity;
    align-self: flex-start;
  }
}