<div class="product-detail">
  <img [src]="product.image" [alt]="product.title" style="width: 200px;">
  <div class="detail">
    <h3>{{ product.title }}</h3>
    <p>{{ product.price | currency }}</p>
    <mat-form-field class="quantity-controls">
      <mat-label>Cantidad:</mat-label>
      <mat-select id="quantity" [(ngModel)]="selQuantity">
        <mat-option *ngFor="let num of numbers" [value]="num">{{ num }}</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab (click)="addProduct(product, selQuantity)">
      <mat-icon aria-hidden="false" fontIcon="add_shopping_cart"></mat-icon>
    </button>
  </div>
</div>