.example-spacer {
  flex: 1 1 auto;
}

.logo {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.button-menu{
  display: block;
}

.button-menu-lap{
  display: none;
  margin: 8px 8px 8px 0;
}


@media screen and (min-width: 650px) {
  .button-menu{
    display: none;
  }
  mat-menu {
    display: none;
  }
  .button-menu-lap{
    display: block;
  }
}