.tooltip {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.logo {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.buttons-container {
  display: none;
}

.button-menu{
  display: block;
  padding: 16px;
}

.menu {
  position: absolute;
  right: 0;
  padding: 0px 32px;
}

@media screen and (min-width: 650px) {
  .button-menu{
    display: none;
  }
  .buttons-container {
    display: flex;
    gap: 8px;
  }
  .button-login {
    display: block;
  }
  
}