<div class="tooltip">
  <img class="logo" src="../baul.svg" alt="Logo baúl digital" (click)="goHome()">
  <a type="button" class="button-menu" (click)="openMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
    </svg>
  </a>
  <a type="button" class="button-login" href="/login">Login</a>
</div>
<div class="menu" *ngIf="mostrarMenu"><a type="button" class="option-login" href="/login">Login</a></div>
