<div class="form-container">
  <form [formGroup]="payment" (ngSubmit)="onSubmit()">
    <div>
      <label for="number">Numero de tarjeta: </label>
      <input id="number" type="number" formControlName="number" />
    </div>
    <div>
      <label for="date">Fecha de expiración: </label>
      <input id="date" type="date" formControlName="date" />
    </div>
    <div>
      <label for="cvc">CVC: </label>
      <input id="cvc" type="number" formControlName="cvc" />
    </div>
    <div class="button-container">
      <button type="submit" [disabled]="payment.invalid">Pagar</button>
    </div>
  </form>
</div>

