<h2 mat-dialog-title>Algo salio mal!</h2>
<mat-dialog-content>
  <p>Por favor revisar datos de pago</p>
  <form [formGroup]="payment">
    <ng-template matStepLabel>Pago</ng-template>
    <mat-form-field>
      <mat-label>Numero de tarjeta: </mat-label>
      <input matInput id="numero" type="text" formControlName="numero" required/>
      <mat-error *ngIf="payment.get('numero')?.hasError('required') || payment.get('numero')?.hasError('minlength') || payment.get('numero')?.hasError('maxlength')">
        El número de tarjeta es obligatorio y debe tener 16 caracteres
      </mat-error>
    </mat-form-field>
    <mat-form-field>
          <mat-label>Fecha de caducidad: </mat-label>
          <input matInput [matDatepicker]="dp" formControlName="fecha"  min="{{minDate}}">
          <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp
                          startView="multi-year"
                          (monthSelected)="setMonthAndYear($event, dp)"
                          panelClass="example-month-picker">
          </mat-datepicker>
          <mat-error *ngIf="payment.get('fecha')?.hasError('required') || payment.get('fecha')?.hasError('fechaMenorMinima')">
            La fecha de caducidad de la tarjeta es obligatoria y debe ser igual o posterior a {{ minDate }}
          </mat-error>
        </mat-form-field>
    <mat-form-field>
      <mat-label>CVC: </mat-label>
      <input matInput id="codigo" type="text" formControlName="cvc" required/>
      <mat-error *ngIf="payment.get('cvc')?.hasError('required') || payment.get('cvc')?.hasError('minlength') || payment.get('cvc')?.hasError('maxlength')">
        El código cvc es obligatorio y debe tener 3 caracteres
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="savePayment()" [disabled]="payment.invalid" cdkFocusInitial>Actualizar</button>
</mat-dialog-actions>
